/* styling for sticky notes page */
event-sticky-page {
    background-color: plum;
}

#sticky-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* This creates 4 columns */
    gap: 20px;  /* Shorter form to specify both row-gap and column-gap */
    margin: 70px;
}