/* Add a container for the page content */
.desktop-view {
    grid-template-columns: (3, 1fr);
}

.page-container {
    max-width: 1200px; /* Adjust the maximum width to your preference */
    margin: 0 auto; /* Center align the content */
    padding: 20px; /* Add some padding for better spacing */
}

/* Styling for the page header */
.events-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Increase spacing at the top */
}

.events-page-header h1 {
    font-size: 28px; /* Increase font size for the header */
    color: var(--light-purple);
}

/* Styling for the event description */
#event-page-details {
    margin-bottom: 20px; /* Increase spacing at the bottom */
    width: 60%;
    margin: 12px 50px 50px 50px
}

h6 {
    font-size: 24px; /* Adjust font size for the description */
    font-weight: 200; /* Make the description slightly bolder for readability */
    color: var(--dark-grey); /* Use a darker color for better contrast */
}

/* Styling for the event cards */
#event-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin: 12xpx 24px 12px 24px;
    height: 30%;
    column-gap: 10px;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); Responsive grid with minimum width */
    row-gap: 10px; /* Add some gap between event cards */
    justify-content: space-around; /* Distribute cards evenly */
    align-items: flex-start; /* Align cards to the top */
}

/* Responsive layout for event cards */
@media screen and (max-width: 768px) {
    #event-list {
        grid-template-columns: 1fr; /* Single column layout on smaller screens */
    }

    .events-page-header {
        flex-direction: column; /* Stack header elements vertically on smaller screens */
        align-items: flex-start; /* Align header items to the left */
    }
}

.error-message {
    color: dark purple;
    font-weight: bold;
    text-decoration: underline;
    margin: 6px;
    text-align: center;
}