.dialog {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 16px;
    width: 40%;
}

@media screen and (max-width: 768px) {
    .dialog {
        background-color: #FFFFFF;
        padding: 40px;
        border-radius: 16px;
        width: 60%;
    }
}

.row-1 {
    display: flex;
}


.event-creation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent grey background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the popup is above other content */
}

/* Events Page Styles */
.create-event-container {
    display: flex;
    align-items: center;
}

.button-container {
    display: inline-flex;
    justify-content: flex-end; 
    margin-top: 24px; 
}

.create-event-button {
    width: 150px;
    background: var(--light-purple);
    color: var(--white);
    border: 2px solid var(--dark-purple);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 24px; 
    transition: border-color 0.2s;
}

.cancel-button {
    width: 150px;
    background: var(--pale-purple);
    color: var(--dark-grey);
    border: 2px solid var(--dark-purple);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 24px; 
    transition: border-color 0.2s;
}




/* .event-creation-popup h2 {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin: 80px 0 8px;
    color: var(--white);
    background-color: var(--dark-purple);
    padding: 24px 16px 24px 16px;
    width: 70%;
    border: 2px solid var(--white);
    border-radius: 8px;
}

.event-creation-popup input {
    width: 70%;
    padding: 16px;
    margin: 4px 0;
    border: 1px solid var(--light-purple);
    border-radius: 8px;
    font-size: 16px;
    color: var(--dark-purple);
}

.event-creation-popup button {
    background: var(--light-purple);
    color: var(--white);
    border: 2px solid var(--dark-purple);;
    display: flex;
    padding: 12px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 8px;
    transition: border-color 0.2s;
}

.event-creation-popup button:hover,
.events-page-header button:hover {
    background: var(--dark-purple);
    border-color: var(--orange)
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: var(--dark-purple);
    border-radius: 4px;
} */
