/* ALL EventCard styling */


/* Event Card styling */

.event-card {
    background-color: var(--pale-grey);
    border: 2px solid var(--light-purple);;
    padding: 24px;
    border-radius: 8px;
    box-shadow: var(--light-purple);
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative; /* Add this to make cropping easier */
    overflow: hidden; /* Add this to hide the image overflow */
    height: 450px;/* Define a fixed height for the event cards */
    max-width: 400px;
    min-width: 250px;
    margin: 16px;
    margin-bottom: 0;
}

.event-card img {
    margin: 4px 8px 4px 8px;
    width: auto;
    height: 10%;
    align-items: center;
    object-fit: cover;
}

.event-card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.event-card h2 {
    margin: 4px 8px 4px 8px;
    color: var(--dark-purple);
}

.event-card h4 {
    margin: 4px 8px 4px 8px;
}

.event-card h5 {
    margin: 4px 8px 4px 8px;
    font-weight: bold;
    color: var(--dark-purple);
}

.event-card h5:first-of-type {
    margin: 4px 8px 4px 8px;
}

.event-card h5:last-of-type {
    margin: 8px 8px 4px 8px;
}

.event-card:hover {
    background-color: var(--pale-purple);
}
