.login-register-form {
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

img {
    width: 100%;
}

form {
    margin: 20px;
    width: 40%;
}

