:root {
    --orange: #ffa300;
    --dark-purple: #6300af;
    --light-purple: #8246af;
    --dark-grey: #3f3f3f;
    --med-grey: #5f5f5f;
    --light-grey: #c6c6c6;
    --white: #ffffff;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/* NavBar styles */


#nav-bar {
    background: var(--light-purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
}

/* Nav link styles */
.login-link, 
.register-link, 
.logout-link, 
.events-link {
    float: right;
    margin-bottom: 0px;
    padding: 16px;
    margin-top: 0px;
}

.login-link:hover, 
.register-link:hover, 
.logout-link:hover, 
.events-link:hover {
    float: right;
    margin-bottom: 0px;
    margin-top: 0px;
}


/* Desktop view */

.login-link, 
.register-link, 
.logout-link, 
.events-link {
    float: right;
    margin-bottom: 0px;
    padding: 16px;
    margin-top: 0px;
}

.login-link:hover, 
.register-link:hover, 
.logout-link:hover, 
.events-link:hover {
    float: right;
    margin-bottom: 0px;
    margin-top: 0px;
}



/* Updated styles for desktop view */

.navbar-logoDesktop {
    width: 324px;
    height: auto;
    border: none;
    outline: none;
    padding-top: 16px;
    padding: 16px;
} 

.desktop-nav {
    display: flex;
    align-items: center;
    margin-right: 0px;
}

.desktop-nav a {
    margin-right: 0px;
    color: var(--white);
    text-decoration: none;
}

.desktop-nav a:hover {
    background-color: var(--dark-purple);
    border-radius: 8px;
}


/* Mobile View */

.menu-icon {
    order: 1;
    font-size: 40px;
    cursor: pointer;
    color: var(--white);
    padding-right: 8px;
    padding-bottom: 8px;
}

.navbar-logoMobile {
    width: 88px;
    height: auto;
    border: none;
    outline: none;
    padding-top: 16px;
    padding: 16px;
}


.mobile-nav {
    display: none;
}

.mobile-menu-open .mobile-nav {
    display: block;
    text-align: center;
}

.mobile-nav a {
    display: block;
    padding: 8px;
    color: var(--white);
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: var(--dark-purple);
    border-radius: 8px;
}

/* Hide the navigation links by default in mobile view */
#nav-bar.mobile-menu-open .navbar-logo-link,
#nav-bar.mobile-menu-open nav {
    display: block;
}



/* ALL EventCard styling */



/* Display three cards in a row on desktop */
.desktop-view {
    grid-template-columns: repeat(3, 1fr); 
}


/* Display a single card in a column on mobile */
.mobile-view {
    grid-template-columns: 1fr; 
}



/* styling for events page */
#event-list {
    display: grid;
    height: 30%;
    column-gap: 10px;
    row-gap: 10px;
    overflow: hidden; /* Add this to hide the image overflow */
    min-width: 300px;
}




/* styling for Event Card on Events Page */


.events-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.events-page-header button {
    background: var(--light-purple);
    color: var(--white);
    border: 2px solid var(--dark-purple);;
    display: flex;
    padding: 12px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 24px;
    transition: border-color 0.2s;
}

.events-page-header h1 {
    margin: 16px;
    margin-bottom: 0;
}



/* Event Card styling */

.event-card {
    background-color: var(--light-grey);
    padding: 16px;
    border-radius: 8px;
    box-shadow: var(--med-grey);
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative; /* Add this to make cropping easier */
    overflow: hidden; /* Add this to hide the image overflow */
    height: 450px;/* Define a fixed height for the event cards */
    max-width: 400px;
    min-width: 324px;
    margin: 16px;
    margin-bottom: 0;
}

.event-card img {
    margin: 4px 8px 4px 8px;
    width: auto;
    height: 5%;
    align-items: center;
    object-fit: cover;
}

.event-card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.event-card h2 {
    margin: 4px 8px 4px 8px;
    color: var(--dark-purple);
}

.event-card h4 {
    margin: 4px 8px 4px 8px;
}

.event-card h5 {
    margin: 4px 8px 4px 8px;
    font-weight: bold;
    color: var(--dark-purple);
}

.event-card h5:first-of-type {
    margin: 4px 8px 4px 8px;
}

.event-card h5:last-of-type {
    margin: 8px 8px 4px 8px;
}

.event-card:hover {
    background-color: var(--orange);
}



/* Hide the navigation links by default in mobile view */
#nav-bar.mobile-menu-open .navbar-logo-link,
#nav-bar.mobile-menu-open nav {
    display: block;
}



/* All Home Page logout styling */



/* mobile view */

.banner-block-mobile {
    display: auto;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: left;
    float: left;
    width: 100%;
    margin: 0;
    max-height: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    flex-direction: column; /* Change to vertical layout */
}

.banner-block.mobile-view {
    flex-direction: column; 
    align-items: center; 
    display: auto;
}

/* desktop view */
.banner-block.desktop-view {
    flex-direction: row; 
    justify-content: space-between; 
}

ul.banner-block {
    background-color: var(--light-purple);
    display: inline-flex;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: left;
    float: left;
    width: 100%;
    margin: 0;
    max-height: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.banner-block {
    display: inline-flex;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: left;
    float: left;
    width: 100%;
    margin: 0;
    max-height: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.block-item {
    list-style: none;
    display: inline-block;
    margin-inline: auto;
    text-align: center;
    width: 244px;
    color: var(--white);
    margin-bottom: 16px; /* Add some margin between items */
}

.block-item p {
    color: var(--white);
}


/* Home Block styles */

/* Add a media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    .home-block-text {
        width: 100%; 
        margin: 0; 
    }
    
    .home-block-text h1 {
        font-size: 24px;
    }

    .home-block-text h2 {
        margin-top: 16px;} 
}


.home-block-text {
    width: 40%;
    margin: 24px;
}

.home-block-text h1{
    font-family: Roboto;
    font-weight: bold;
    font-size: 40px;
    color: var(--dark-grey);
}

.home-block-text h2 {
    font-family: Roboto;
    font-weight: 300;
    color: var(--dark-grey);
    padding-left: 24px;
}

.home-block-text h3 {
    color: var(--white);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.4px;
}

/* added a h4 so we have a dark font variant */
.home-block-text h4 {
    font-family: Roboto;
    font-weight: 300;
    color: var(--dark-grey);
}

.home-block-text h5 {
    color: var(--dark-grey);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;}

.home-block-text p {
    color: var(--light-grey);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
}

.home-block {
    display: inline-flex;
    padding: 0;
    padding-top: 50px;
    text-align: left;
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
}

.home-block-image {
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CSS to shrink the image */
.shrink-image {
    max-width: 100%; 
    opacity: 1; 
    transition: max-width 0.2s, opacity 0.2s; 
}

/* Add CSS for making the image disappear on screens smaller than 768px */
@media screen and (max-width: 768px) {
    .home-block-image {
        display: none;
    }

    .home-block {
        display: flex;
        padding: 0;
        width: 200%;
        height: 100%;
    }
}


