/* Styling for Sticky notes on Event Sticky Page */

.sticky-note {
    width: 23%;  /* Allow for some margin space */
    margin: 1%;  /* Margins around each sticky note */
    background-color: plum;
    /* Additional styling to make it look more like a sticky note */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s; /* Animation */
}

/* Add some hover effects to the sticky note */
.sticky-note:hover {
    transform: scale(1.05);
}

/* You might want different colors for different sticky notes. You can add more classes like these and assign them dynamically */
.sticky-note.pink {
    background-color: #FFD1DC;
}

.sticky-note.yellow {
    background-color: #FFF5B1;
}

.sticky-note.green {
    background-color: #C8FFC1;
}
