/* Styling for Sticky notes on Event Sticky Page */

.sticky-note {
    background-color: plum;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 70px;  /* Adjust padding as needed */
    text-align: center;
    transition: transform 0.2s;
}

/* Add some hover effects to the sticky note */
.sticky-note:hover {
    transform: scale(1.05);
}

/* You might want different colors for different sticky notes. You can add more classes like these and assign them dynamically */
.sticky-note.pink {
    background-color: #FFD1DC;
}

.sticky-note.yellow {
    background-color: #FFF5B1;
}

.sticky-note.green {
    background-color: #C8FFC1;
}

.sticky-note h2.noteText {
    font-weight: bold;
    margin-bottom: 20px; /* Add space between the note and author */
  }
  
  .sticky-note h2.authorText {
    font-size: 0.8em; /* Make the text a bit smaller */
  }
